
<div class="container ">
    <h1>About me</h1>
    <br>
    <img src="./assets/images/filepic.jpeg" alt="filepic" style="height: 250x;width: 200px;">
    <br>
    <br>
    <ul class="list-group">
        <li class="list-group-item">Name: Juan Sebastian Galvis</li>
        <li class="list-group-item">Age: 26</li>
        <li class="list-group-item">Nationality: Colombian</li>
        <li class="list-group-item">Current country: Canada</li>
        <li class="list-group-item">Experience developing software: 1 year</li>
        <li class="list-group-item">Degrees: Software engineering technician, chemical engineer</li>
        <li class="list-group-item">Hobbies: Videogame, playing the violin, reading</li>
    </ul>
    <br>

    <a class="btn btn-dark" href="https://drive.google.com/file/d/1kHndnVJbBr5kYNDbzBr0rky_ImzihGel/view?usp=sharing" role="button">My Resume</a>
<br>
</div>
<br>