<div class="container">
    <h1>Home</h1>
    <br>
    <br>
    <h3>Mission</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisi ligula, hendrerit ut odio euismod,
         maximus placerat lectus. Suspendisse potenti. Integer ultrices sed urna lacinia facilisis. Nam egestas 
         nisi eget nibh finibus, vitae lacinia justo mollis. Mauris pulvinar sed arcu quis viverra. Nunc efficitur 
         mi scelerisque justo feugiat, sed rutrum ante molestie. Ut blandit dolor vel eros euismod, ac pharetra est 
         tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
         Sed ultrices sollicitudin metus sit amet maximus. Nam et luctus ex. Morbi quis tellus sed ante vestibulum 
         condimentum vestibulum quis est.</p>

    <h3>Vision</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nisi ligula, hendrerit ut odio euismod,
         maximus placerat lectus. Suspendisse potenti. Integer ultrices sed urna lacinia facilisis. Nam egestas 
         nisi eget nibh finibus, vitae lacinia justo mollis. Mauris pulvinar sed arcu quis viverra. Nunc efficitur 
         mi scelerisque justo feugiat, sed rutrum ante molestie. Ut blandit dolor vel eros euismod, ac pharetra est 
         tincidunt. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
         Sed ultrices sollicitudin metus sit amet maximus. Nam et luctus ex. Morbi quis tellus sed ante vestibulum 
         condimentum vestibulum quis est.
    </p>
    <a class="btn btn-dark" href="/about" role="button">About me</a>
</div>
