<div class="container">
    <h1>Projects</h1>
    <ul class="list-group">
        <li class="list-group-item"><h3>Paper Scheduler</h3><img src="./assets/images/scheduler.JPG" alt="scheduler"style="width: 40%;"><br>
            The personal project I am currently working on is a shceduler that automatically creates and submits the schedule of my current work as tutor.
            It also takes extra hours if needed by opening the email and clicking the links to take the transfer shifts from another tutors.
        </p></li>
        <li class="list-group-item"><h3>Anti-Review Bombing Webpage</h3><img src="./assets/images/metacritic.JPG" alt="metacritic"><br>
            The developing of an anti-review bombing webpage similar to metacritc is one of the ambitious projects of the company. The webpage
            would be able to avoid review bombimg by actually checking the amount of hours played of the reviewed game which gives credibility
            to the reviews.
        </p></li>
        <li class="list-group-item"><h3>Air quality application</h3><img src="./assets/images/air.png" alt="air" style="width: 20%;"><br>
            <p>
                The developing of an application that monitores the air quality of the intake air of air systems in companies and households is another of the projects
                that the company is developing. This application will be a mobile app that lets the user specify the values of air quality and sends a warning message when the air quality
                is not the desired or if the air filter needs a change.
            </p>
        </li>
      </ul>
</div>
