<div class="container">
    <h1>Services</h1>
    <ul class="list-group">
        <li class="list-group-item">
            <h3>Web app development</h3><img src="./assets/images/webdev.png" alt="scheduler"style="width: 40%;">
        </li>
        <li class="list-group-item"><h3>Mobile application development</h3><img src="./assets/images/mobile.jpg" alt="metacritic"><br>
        </p></li>
        <li class="list-group-item"><h3>Industrial simulation programs</h3><img src="./assets/images/process.png" alt="air" style="width: 30%;"><br>
            <p>
            </p>
        </li>
      </ul>
</div>
